ul {
    list-style: none;
}

ul li.todo-done {
    color: gray;
    text-decoration: line-through;
}

.vi {
    margin-top: 20px;
}

.list-group-item button {
    display: none;
}

.list-group-item:hover button {
    display: inline-block;
}